* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    /* width: 1600px; */
}
/* Basic Style */
.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}
.color-orange {
    color: #FD6E0A;
}
.btn {
    font-size: 20px;
    font-weight: 900;
    padding: 18px 35px;
    background-color: #FD6E0A;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.my-education h2, .my-experience h2{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
}   
.education h3{
    font-size: 25px;
    color: #474747;
    margin-top: 30px;
    margin-bottom: 10px;
}
.education h4{ 
    margin-bottom: 20px;
    font-size: 20px;
    color: #757575;
}
.education p {
    font-size: 16px;
    color: #757575;
    margin-bottom: 30px;
}
.downCV-btn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}









/* Header & Hero Section*/
header {
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;
    background-position: 23px 38px, bottom right;
    background-repeat: no-repeat;
    background-size: 136px 774px, auto auto;
}
.logo h2 {
    font-size: 45px;
}

nav {
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu {
    display: flex;
    align-items: center;
    gap: 51px;
    list-style: none;
}
nav .menu a {
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

#banner {
    /* border: 1px solid red; */
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
}
#banner .banner-content {
    margin-top: 136px;
    max-width: 35.56rem;
    height: 22.25rem;
}
#banner .banner-content h2 {
    font-size: 45px;
    font-weight: 500;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1 {
    font-size: 85px;
    font-weight: 900;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

#banner .banner-image img{ 
    max-width: 585px;
    vertical-align: middle;
}


/* Main Content*/

.about-section {
    margin: 130px 230px;
    padding: 131px 157px;
    max-width: 1140px;
    max-height: 550px;
    background-color: #FFF8F3;
    border-radius: 10px;
}
.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.about-me h3 {
    font-size: 35px;
    color: #181818;
}
.about-me p {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    text-align: center;
}
.about-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 22.5px;
    margin-right: 22.5px;

}
.contact-info {
    text-align: center;
}
.contact-info span {
    font-size: 20px;
    color: #757575;
}
.contact-info p {
    font-size: 20px;
    font-weight: 700;
    color: #474747;
}
.what-I-do-section {
    max-width: 1140px;
    height: 595px;
    margin: 130px 230px;
}
.what-I-do {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 827px;
    margin: 0 auto;
    padding-top: 12px;
    padding-left: 5px;
    padding-right: 5px;
}
.what-I-do h3 {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.what-I-do p {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
    font-size: 18px;
    color: #757575;
}
.skill-container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.skill {
    max-width: 267px;
    height: 377px;
    padding: 30px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.12);
}
.skill h4 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill p {
    font-size: 16px;
    color: #757575;
}
.summery {
    display: flex;
    justify-content: space-between;
    margin: 0px 230px;
    max-width: 1140px;
}
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 130px;
    margin-bottom: 113px;
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.experience, .education {
    max-width: 511px;
    height: 175px;
}